/* stylelint-disable selector-list-comma-newline-after */

.header {
  list-style: none;
  font-size: 32px;
}

.filters{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
}

.filter-1{
  display: flex;
  flex-direction: column;
  border: 1px solid rebeccapurple;
}

.search{
  width: 300px;
  height: 40px;
  outline-style: none;
  font-size: 18px;
  background-color: rgb(24, 24, 24);
  border-radius: 12px;
  color: white;
  border-style: none;
  padding: 2px;
  border: 1px solid #1db954;
}
